<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase Hosting</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
      * {
        font-family: "Inter", sans-serif;
      }
      form {
        display: flex;
        flex-flow: column;
      }
      form button {
        margin: 8px 0px;
        width: 128px;
      }
    </style>
  </head>
  <body>
    <h1>Choose a service account file</h1>
    <form method="post" enctype="multipart/form-data">
      <input required type="file" name="service-account-file" id="file-input" />
      <button type="submit">Continue</button>
    </form>
  </body>
</html>
